This name is {{ my_name }} -> The name is Bond
This name is {{ my_name | upper}} -> The name is Bond
This name is {{ my_name | lower }} -> The name is Bond
This name is {{ my_name | title }} -> The name is Bond
This name is {{ my_name | replace("Bourne","Bond") }} -> The name is Bond
This name is {{ my_name | defult('James') }}{{ first_name }} -> The name is Bond

{{ [1,2,3,4,8,100,22,2,3 ] | min }}
{{ [1,2,3,4,8,100,22,2,3 ] | max }}
{{ [1,2,3,4,8,100,22,2,3 ] | unique }}
{{ [1,2,3,4,8,100,22,2,3 ] | union([4,5]) }}
{{ [1,2,3,4,8,100,22,2,3 ] | intersection([2,3,4]) }}
{{ 100 | random }}
{{["This","is","Sparta"] | join(" ")}}

loops

{% for number in [0,1,2,3,4,5] %}
{{ number}}
{% endfor %}

for

{% for number in [1,2,3,4,5] %}
{% if number == 2 %}
    {{number}}
{% endif %}
{% endfor %}

JINJA for Ansible
ANsible specific j2 filters
{{ "/etc/hosts" | basename }}
{{ "c:\windows\hosts" | win_basename }}
{{ "c:\windows\hosts" | win_splitdrive}}
{{ "c:\windows\hosts" | win_splitdrive | first}}
{{ "c:\windows\hosts" | win_splitdrive | last}}



Developing /etc/resolv.conf file from jinja2 template
{% for ip in name_servers %}
  nameservers  {{ip}}
{% endfor %}

-----------------------------------------------------------------------------
Developing /etc/hosts file from jinja2 template
{% for host in  hosts%}
{{host.name}} {{host.ip_address}}
{% endfor %}

web1 192.168.5.4
web2 192.168.5.5
web3 192.168.5.8
db1 192.168.5.9

source 
{
  "hosts": [
    {
      "name": "web1",
      "ip_address": "192.168.5.4"
    },
    {
      "name": "web2",
      "ip_address": "192.168.5.5"
    },
    {
      "name": "web3",
      "ip_address": "192.168.5.8"
    },
    {
      "name": "db1",
      "ip_address": "192.168.5.9"
    }
  ]
}


Update the jinja2 expression to use an if block to update /etc/hosts file only if the hostname contains web.

Use Jina2 Blocks


{% for host in hosts -%}
 {% if "web" in host.name -%}
{{host.name}} {{host.ip_address-}}
 {% endif %}
{% endfor %}
-------------------------------------------------------------------------------